{% extends "base.html.twig" %}

{% block title %}Dra kort{% endblock %}

{% block body %}

    <div class="container my-5">
        <h1 class="display-4">Kort &amp; kortlek</h1>
        <hr class="my-4">
        <div class="row my-5">
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="{{ path('card') }}" class="list-group-item list-group-item-action" aria-current="true">
                    Kort
                    </a>
                    <a href="{{ path('card_deck') }}" class="list-group-item list-group-item-action" aria-current="true">
                    Kortlek
                    </a>
                    <a href="{{ path('deck_shuffle') }}" class="list-group-item list-group-item-action" aria-current="true">
                    Blanda kortlek
                    </a>
                    <a href="{{ path('draw_card') }}" class="list-group-item list-group-item-action" aria-current="true">
                    Dra kort
                    </a>
                </div>
            </div>
            <div class="col-sm-8">
                <p>Antal kort: {{ num_cards }}</p>
                {% for card in hand %}
                    {% set left = card.getLeftOffset() %}
                    {% set top = card.getTopOffset() %}
                    <img class="playing-card" src="{{ asset('img/transparent.png') }}" width="1" height="1" style=" background: url(' {{ asset('img/cards.png') }}' ) -{{left}}px -{{top}}px;">
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}