{% extends 'base.html.twig' %}

{% block title %}List all books{% endblock %}

{% block body %}
<style>
    table,
    a {
    margin: 0.5rem;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    }
</style>

<div class="example-wrapper">
    <h1>List of all the books</h1>
    <h2>Books in the library: {{ num_books }}</h2>
    <a href="{{ path('book_create_get') }}">Add a book</a>
    <table>
        <tr>
            <th></th>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
        </tr>
        {% if books %}
            {% for book in books %}
                <tr>
                    <td>
                    <a href="{{ path('book_update_get', {'id': book.id}) }}">Update</a>|<a href="{{ path('book_delete_get', {'id': book.id}) }}">Delete</a>
                    </td>
                    <td>{{ book.image }}</td>
                    <td>
                        <a href = "{{ path('book_by_id', { 'id': book.id }) }}">
                        {{ book.title }}
                        </a>
                    </td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.isbn }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}
