{% extends "base.html.twig" %}

{% block title %} Hållbar utvecklig | Livsmedelsavfall {% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="navigation-body">
            <div class="navigation">
                <input type="checkbox">
                <span></span>
                <span></span>
                <div id="menu">
                    <li>
                        <a href="{{ path('sustainability') }}">Om</a>
                    </li>
                    <li>
                        <a href="{{ path('food') }}">Livsmedelsavfall</a>
                    </li>
                    <li>
                        <a href="{{ path('textile') }}">Textilkonsumption</a>
                    </li>
                </div>
            </div>
        </div>
        <div>
            <h1 class="font-h1">Livsmedelsavfall i Sverige</h1>
            <p class="font-p">
                Utmaningen med livsmedelsavfall är global och har påtagliga effekter både för miljön och ekonomin. I Sverige och i världen över kastas enorma mängder mat bort varje år, vilket leder till förlorade resurser och en ökad påverkan på klimatet. Grafen skapar en tydlig bild av detta problem i en svensk kontext och har som mål att öka medvetenheten om vikten av att minska livsmedelsavfallet genom förändrade vanor och mer hållbara produktionsmetoder.
            </p>
            <div style="max-width: 800px;">
                <canvas id="food" data-my-food="{{ food | raw }}"></canvas>
            </div>
            <p class="font-p">
                Under år 2021 genererades omkring 0,9 miljoner ton fast livsmedelsavfall i Sverige. Detta motsvarar en genomsnittlig mängd av 86 kg per individ, varav 59 kg produceras inom hushållen. Av livsmedelsavfallet från hushållen anses ungefär 26 procent, det vill säga 15 kg per individ per år, vara onödigt livsmedelsavfall som hade kunnat undvikas, även känt som matsvinn. Dessutom har det konstaterats att mat och dryck som sköljs ned i avloppet från hushållen uppgår till ytterligare 190 000 ton, motsvarande 18 kg per person per år.
            </p>
        </div>

        <script>
            const dataFromDatabaseFood = {{ food | raw }};
        </script>
        <script type="module" src="{{ asset('build/app.js') }}">
        </script>
    </div>

{% endblock %}
